* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#e66465), to(#9198e5));
  background: linear-gradient(90deg, #e66465, #9198e5);
  background-size: 100%;
}

header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: whitesmoke;
  font-size: 2rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

form input,
form button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin: 0.3rem;
  border: none;
  border-radius: 5px;
}

form input[type="number"] {
  width: 80px;
  text-align: center;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type="number"] {
  -moz-appearance: textfield;
}

form button {
  background-color: rgba(228, 69, 77, 0.626);
  color: white;
  cursor: pointer;
}

div.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.sort button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin: 2rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(98, 21, 240, 0.425);
  color: white;
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section div.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.1rem 0rem;
}

section div.todo p {
  background-color: white;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin: 0.3rem;
  border: none;
  border-radius: 5px;
  margin: 0rem 0.1rem;
}

section div.todo p.todo-text {
  width: 50%;
}

section div.todo p.todo-time {
  width: 20%;
  text-align: center;
}

section div.todo button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: none;
  margin: 0rem 0.1rem;
  border-radius: 5px;
  color: white;
}

section div.todo button.complete {
  background-color: rgba(240, 52, 62, 0.626);
}

section div.todo button.trash {
  background-color: rgba(80, 223, 185, 0.626);
}

section div.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */